.add-book-card {
    min-height: 100%;
    p {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        mat-form-field {
            margin-right: 50px;
            min-width: 300px;
        }
        button {
            background: linear-gradient(135deg, #69B447 0%,#56953C 100%);
            color: #fff;
        }
    }
    label.book-img {
        width: 150px;
        height: 150px;
        display: grid;
        position: relative;
        justify-content: center;
        align-content: center;
        text-align: center;
        background-color: #dedbdb;
        cursor: pointer;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        mat-progress-bar {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 5;
            width: 100%;
        }
    }

    .mat-raised-button[disabled] {
        cursor: not-allowed;
    }
}