<mat-card class="reader-card">
  <mat-spinner *ngIf="!reader else readerTemplate"></mat-spinner>
  <ng-template #readerTemplate>
    <mat-card-header>
      <mat-card-title>Reader Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-lg-image [src]="reader.profile_picture">
      <mat-list>
        <mat-list-item>Name: &nbsp; <b> {{ reader.first_name | titlecase }} {{ reader.last_name | titlecase }}</b>
        </mat-list-item>
        <mat-list-item>Email: &nbsp; <b> {{ reader.email }}</b> </mat-list-item>
        <mat-list-item>Home Address: &nbsp; <address>{{ reader.home_address }}</address>
        </mat-list-item>
        <mat-list-item>Hostel Address: &nbsp; <address>{{ reader.hostel_address }}</address>
        </mat-list-item>
        <mat-list-item><b>Books Borrowed</b></mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="borrowed-books">
        <mat-card *ngFor="let log of reader.borrow_logs">
          <mat-card-header>
            <div mat-card-avatar [style.backgroundImage]="'url('+ log.book.image +')'" style="background-size: cover;">
            </div>
            <mat-card-title>{{ log.book.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Borrowed: <b>{{ log.borrow_date | amTimeAgo }}</b>
            </p>
            <p *ngIf="log.return_date">
              Returned: <b>{{ log.return_date | amTimeAgo }}</b>
            </p>
          </mat-card-content>
          <mat-card-actions *ngIf="!log.return_date" align="end">
            <button (click)="returnBook({logId: log.id, book: log.book })" mat-button>RETURN</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-card-content>
  </ng-template>
</mat-card>