.books-card {
    min-height: 100%;
    mat-card-header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        & > * {
            margin-right: 30px;
        }
        mat-form-field:first-of-type {
            flex-grow: .8;
        }
    }
    .books {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 30px;
        margin: 0 auto;
        padding: 15px 15px 0;
        .book {
            mat-card-header {
                /deep/ .mat-card-header-text {
                    margin: 0
                }
            }
        }
    }
}