<mat-card class="books-card">
  <mat-card-header>
    <mat-form-field>
      <mat-label></mat-label>
      <input type="search" matInput [formControl]="searchControl" placeholder="Search by book name...">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="filterControl">
        <mat-option value="all">All</mat-option>
        <mat-option value="borrowed">Borrowed</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button routerLink="add-book">
      <mat-icon>add</mat-icon>
      Add Book
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="books">
      <mat-card class="book">
        <mat-card-header>
          <mat-card-title>Book Name</mat-card-title>
          <mat-card-subtitle>Book author</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            300 Pages
          </p>
          <p>
            ISBN: KJDHFDF874K4B44B328932983JH
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">LEND</button>
          <button mat-button color="accent">EDIT</button>
          <button mat-button color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>