.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .dashboard-toolbar {
        z-index: 2;
    }
    &.dashboard-is-mobile {
        .dashboard-toolbar {
            position: fixed;
            z-index: 2;
        }
       .dashboard-sidenav-container {
            flex: 1 0 auto;
        }
    }
    .dashboard-toolbar {
        background: linear-gradient(135deg, #69B447 0%,#56953C 100%);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    }
    .dashboard-sidenav-container {
        flex: 1;
        mat-sidenav {
            min-width: 200px;
            box-shadow: 6px 0 6px rgba(0,0,0,.1);
            background: #fafafa;
            a.active {
                color: #56953C;
                font-weight: 500;
            }
        }
        mat-sidenav-content {
            padding: 20px 20px 0;
        }
    }
}

h1.dashboard-app-name {
    margin-left: 8px;
}