.authors-card {
  min-height: 100%;
  mat-card-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    & > * {
      margin-right: 30px;
    }
    mat-form-field:first-of-type {
      flex-grow: 0.8;
    }
  }
  & > mat-card-content {
    mat-spinner {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .authors {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 30px;
    padding: 20px 0;
  }
  .author {
    padding-top: 0;
    & > mat-card-content {
      margin-bottom: 0;
      mat-list-item {
        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
